<form
  class="form-horizontal"
  autocomplete="off"
  #createStudentForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewStudent' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <!-- FirstName -->
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="FirstName">
        {{ "FirstName" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="FirstName"
          id="FirstName"
          minlength="2"
          maxlength="64"
          required
          [(ngModel)]="student.firstName"
        />
      </div>
    </div>
    <!-- LastName -->
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="LastName">
        {{ "LastName" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="LastName"
          id="LastName"
          maxlength="64"
          required
          [(ngModel)]="student.lastName"
        />
      </div>
    </div>
    <!-- Address -->
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="Address">
        {{ "Address" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="Address"
          id="Address"
          maxlength="128"
          required
          [(ngModel)]="student.address"
        />
      </div>
    </div>
    <!-- ProgramName -->
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="ProgramName">
        {{ "ProgramName" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="ProgramName"
          id="ProgramName"
          maxlength="128"
          required
          [(ngModel)]="student.programName"
        />
      </div>
    </div>
    <!-- Date of Birth (DoB) -->
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="DoB">
        {{ "DateOfBirth" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="date"
          class="form-control"
          name="DoB"
          id="DoB"
          required
          [(ngModel)]="student.doB"
        />
      </div>
    </div>
    <!-- IsActive Checkbox -->
    <div class="form-group row">
      <label class="col-md-3 col-form-label">
        {{ "IsActive" | localize }}
      </label>
      <div class="col-md-9">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            name="isActive"
            id="isActive"
            [(ngModel)]="student.isActive"
          />
          <label class="custom-control-label mt-2" for="isActive"></label>
        </div>
      </div>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createStudentForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
